<form method="GET" class="search-form" action='{% url "search:search" %}'>

    <!--
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Price-From" value="0" step=".01" id="fromprice"
               name="fromprice">
    </div>
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Price-To" value="0" step=".01" id="toprice"
               name="toprice">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check1" name="check1">
        <label class="form-check-label" for="check1">First</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check2" name="check2">
        <label class="form-check-label" for="check2">Second</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check3" name="check3">
        <label class="form-check-label" for="check3">Third</label>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="form13" name="q">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Submit</button>
        </span>
    </div>
    -->

        <div class="py-3">
            <div class="mb-2">
                <label for="manual_opt">Choose Manual:</label>
                <select class="form-control" id="manual_opt" name="manual_opt">
                    <option class="bg-dark text-light">All</option>
                    {% for manual in manuals %}
                        <option class="bg-dark text-light">{{ manual }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-2">
                <label for="registry_opt">Choose Registry:</label>
                <select class="form-control" id="registry_opt" name="registry_opt">
                    <option class="bg-dark text-light">All</option>
                    {% for registry in registries %}
                        <option class="bg-dark text-light">{{ registry }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-2">

                <label for="note_opt">Choose Note:</label>
                <select class="form-control" id="note_opt" name="note_opt">
                    <option class="bg-dark text-light">All</option>
                    {% for note in notes %}
                        <option class="bg-dark text-light">{{ note }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="row text-center">
                <div class="col-12 mt-3 mb-2"> Price Range </div>
                <div class="col" style="padding-right: 5px">
                    <div class="form-group">
                        <label for="fromprice">From</label><input type="number" class="form-control" placeholder="Price-From" value="0" step=".01" id="fromprice"
                                                              name="fromprice">
                    </div>
                </div>
                <div class="col" style="padding-left: 5px">
                    <div class="form-group">
                        <label for="toprice">To</label> <input type="number" class="form-control" placeholder="Price-To" value="0" step=".01" id="toprice"
                               name="toprice">
                    </div>
                </div>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="show_purchased" name="show_purchased">
                <label class="form-check-label" for="show_purchased">Purchased pipes</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="show_buyable" name="show_buyable">
                <label class="form-check-label" for="show_buyable">For purchase pipes</label>
            </div>

        </div>

        <!--
            <div class="mb-2">
                <label for="manual_src">Search for manuals:</label>
                <input type="text" class="form-control" id="manual_src" name="manual_src" placeholder="Manual 1">
            </div>
            <div class="mb-2">
                <label for="registry_src">Search for registries:</label>
                <input type="text" class="form-control" id="registry_src" name="registry_src" placeholder="H1">
            </div>
            <div class="mb-2">
                <label for="note_src">Search for notes</label>
                <input type="text" class="form-control" id="note_src" name="note_src" placeholder="Dis">
            </div>
        -->

    <div class="py-1 d-flex justify-content-center">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-success">Submit</button>
        </span>
    </div>

</form>
