{% extends 'base.html' %}

{% block content %}

      <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">The Purchase was successfull!</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
          <div class="col-md-2"> </div>
        <div class="col-md-8 px-2 py-2">
          <div class="card">
            <div class="py-4"> </div>
            <div class="card-body text-center">
              <div class="card-title">
                <i class="fas fa-check-circle text-success fa-10x" aria-hidden="true"></i>
              </div>
              <div class="py-5"> </div>
              <h2 class="card-title"><b>Thank you for your donation!</b></h2>
            </div>
            <div class="py-4"> </div>
          </div>
        </div>
        <div class="col-md-2"> </div>
      </div>
    </div>
  </div>

{% endblock %}