{% load static %}


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/28653fa6ce.js" crossorigin="anonymous"></script>

<!-- CSS for Stripe -->
<link rel="stylesheet" href="{% static 'css/stripe-style.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">


<link rel="stylesheet" href="{% static "css/now-ui-kit.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "css/nucleo-icons.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}" type="text/css">

<!-- Circle CSS -->
<link rel="stylesheet" href="{% static 'css/circular.css' %}">