    {% if instance.price < 10000 %}
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    {% elif instance.price < 20000 %}
            <div class="card text-black bg-success mb-3" style="max-width: 18rem;">
    {% else %}
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    {% endif %}
          <div class="card-header">
              {{ instance.name }}
          </div>
          <div class="card-body">
                <h5 class="card-title">{{ instance.registry }} {{ instance.note}}</h5>
                <div class="card-text">
                    <p>{{ instance.price }} CZK </p>
                </div>
                <a href="{{ instance.get_absolute_url }}" class="btn btn-secondary">View</a>
          </div>
    </div>